################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BrainWork/.vs/BrainWork/v15
/.vs/2019-itb1704-brainwork2/v15
