
.maincontainer {
  position: relative;
  width: 500px;
  height: 320px;
  padding-top: 10px;
 
}

.divtable {
  padding-top: 50px;
  width: 75%;
}

/*body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #eee;
}*/

  /*body a {
    color: #ffffff;
    text-decoration: none;
  }*/

.card {
  position: absolute;
  top: 50%;
  left: 200px;
  height: 300px;
  width: 500px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;


}

  .card:hover .card-front {
    transform: rotateX(-180deg);
  }

  .card:hover .card-back {
    transform: rotateX(0deg);
  }

.card-front {
  height: 100%;
  width: 100%;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/41tD3ESqj6L.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
  text-align: center;
}


.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bc8f8f;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #ffffff;
  text-align: center;
}





.table {
  padding-top: 50px;
  width: 55%;
}
.row {
  float: left;
  width: 100%;
  padding: 20px 0 50px;
}
.container {
  padding: 140px;
  float: left;
}
.col-3 {
  float: left;
  margin: 5px ;
  position: relative;
  padding-top: 50px;
}
