<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
</head>
</html>
<body>
<div class="maincontainer">
  <div class="thecard">
    <div class="thefront">front of card</div>
    <div class="theback">back of card</div>
  </div>
</div>


<div class="divtable">
  <table class='table'>
    <thead>
      <tr>
        <th>#</th>
        <th>Term</th>
        <th>Definition</th>
      </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let flashcard of flashcards; let i=index">
      <td>{{ i+1 }}</td>
      <td>{{ flashcard.term }}</td>
      <td>{{ flashcard.definition}}</td>
    </tr>
    </tbody>
  </table>
</div>

</body>

