<div class="table">
  <table class='table'>
    <thead>
      <tr>
        <th>1 set</th>
        <th>1 member</th>
      </tr>
    </thead>

  </table>
  <button mat-raised-button style="background-color: #cdddcb" color="primary">Add set</button>
  <button mat-raised-button style="background-color: #cdddcb" color="primary">Add member</button>
</div>


<div class="row">
  <div class="container">
    <div class="col-3">
      <i class="material-icons"><font size="48">group</font></i>
    </div>
    <div class="col-3">
      <p><font size="6">Grupi nimi</font></p>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Sets">
      <p><font size="4">This group's sets:</font></p><br />
      <div class="col-3">
        <div class="button-test">
          <p style="font-size: 15px">2 terms | kasutajaNimi</p>
          <p style="padding-top: 10px; font-size: 20px">Seti nimi</p><br />
        </div>
      </div>
      <div class="col-3">
        <button target="background-color:red" mat-mini-fab color="warn" type="button" style="margin-right:10px "><mat-icon>clear</mat-icon></button>
      </div>
    </mat-tab>
    <mat-tab label="Members"> Memebers are here </mat-tab>
  </mat-tab-group>

</div>



