<div class="table">
  <table class='table'>
    <thead>
    <tr>
      <th>1 set</th>
      <th>1 membes</th>
    </tr>
    </thead>
  </table>
  <button mat-raised-button style="background-color: #cdddcb" color="primary">Add set</button>
 
  <button mat-raised-button style="background-color: #cdddcb" color="primary">Add member</button>
 
  </div>

  <div class="row">
    <div class="container">
      <div class="col-3">
        <i class="material-icons"><font size="48">group</font></i>
      </div>
      <div class="col-3">
        <p><font size="6">Grupi nimi</font></p>
      </div>
    </div>
  </div>

<a href="groups"><button style="background-color: #cdddcb" mat-raised-button color="primary">Sets</button></a>
<button style="background-color: #b2d28e" mat-raised-button color="primary">Members</button>
<br/><br />
<p><font size="4">Members</font></p>

<div class="row">
  <div class="row">
    <div class="container">
      <div class="col-3">
        <div class="button-test">
          <p style="font-size: 15px">Admin</p>
          <p style="font-size: 20px">Kasutajanimi</p><br/>
        </div>
      </div>
      <div class="col-3">
        <button target="background-color:red" mat-mini-fab color="warn" type="button" style="margin-right:10px "><mat-icon>clear</mat-icon></button>
      </div>
    </div>
  </div>
</div>
