<div class="container" novalidate>
  <form [formGroup]="formGroup" class="form">
    <mat-form-field>
      <div>
        <input class="effect-1" #title type="text" matInput placeholder="Enter set title" formControlName="titleName">
        <span class="focus-border"></span>
        <mat-error *ngIf="!titleName.valid && titleName.touched">
          {{ titleAlert }}
        </mat-error>
      </div>
    </mat-form-field>

      <div class="row">
        <div class="row">
          <div class="container">
           
            <div class="col-3">
              <input type="text" class="effect-2" #term matInput placeholder=" Enter term" formControlName="term">
              <span class="focus-border"></span>
              <mat-error *ngIf="!formGroup.controls['term'].valid && formGroup.controls['term'].touched">
                Required field.
              </mat-error>
            </div>
            

            <div class="col-3">
              <input type="text" class="effect-2" #definition matInput placeholder="Enter definition"  formControlName="definition">
              <span class="focus-border"></span>
              <mat-error *ngIf="!formGroup.controls['definition'].valid && formGroup.controls['definition'].touched">
                Required field.
              </mat-error>
            </div>

            <div class="col-3">
              <button mat-mini-fab [disabled]="!formGroup.valid" color="primary" (click)="addFlashcard(term.value,definition.value); term.value=''; definition.value='' " type="button" style="margin-right:10px"><mat-icon>add</mat-icon></button>
            </div>
          </div>
        </div>
        
        <div class="divtable">
          <table class='table'>
            <thead>
              <tr>
                <th>#</th>
                <th>Term</th>
                <th>Definition</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let flashcard of set; let i=index" style="margin-bottom: 10px;">
                <td>{{ i+1 }}</td>
                <td>{{ flashcard.term }}</td>
                <td>{{ flashcard.definition}}</td>
                <td> <button mat-mini-fab color="warn" (click)="removeFlashcard(flashcard)" type="button" style="margin-right:10px "><mat-icon>clear</mat-icon></button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <br />
        <button mat-raised-button [disabled]="!formGroup.valid" color="primary" (click)="createSet(title.value)" mdbWavesEffect>Create</button>
      </div>
  </form>
</div>

