
<style>
  h1 {
    display: inline;
    position: relative;
    font: 70px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(255,0,0,0.5);
  }

  h2 {
    display: inline;
    position: relative;
    font: 50px Helvetica, Sans-Serif;
    letter-spacing: 2px;
    color: rgba(0,0,255,0.5);
  }
  p {
    font: 20px Helvetica, Sans-Serif;
  }
</style>


<br />

<div class="row">
  <div class="col-sm-4">
    <img src="https://png2.kisspng.com/sh/6d407891af07e7cf6f80b7347b469739/L0KzQYm3U8I0N5ZpfZH0aYP2gLBuTfNwdqR5iudsdHnyfn76if12dJJ5hAQ2dILkdrfwg71kd59qRdN7Y3jshLbqlQVzaZ0ye9H3ZYOwRbLpVclmO5c6TKk8ZEWxQYa9V8g1PGc2TaQ6OEW0SYeAU8Q2QV91htk=/kisspng-construction-simulator-traffic-cone-architectural-cones-5ab59e3f5473d5.1567844615218519673459.png" width="300" height="200" />
  </div>
  <div class="col-sm-8">
    <h1>Sorry, we're doing some work on this site.</h1>

    <p style="size: 13px">
      This will be a webpage where you can learn stuff with interactive flashcards.
    </p>
  </div>
</div>
