<div class="container" novalidate>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <mat-form-field class="form-element">
      <input matInput placeholder="Enter Title Name" formControlName="titleName">
      <mat-error *ngIf="!titleName.valid && titleName.touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

      <div class="formSideBySide">
        <mat-form-field class="form-element">
          <input matInput placeholder="Term" formControlName="term">
          <mat-error *ngIf="!formGroup.controls['term'].valid && formGroup.controls['term'].touched">
            Required field.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="formSideBySide">
        <mat-form-field class="form-element">
          <input matInput placeholder="Definition" formControlName="definition">
          <mat-error *ngIf="!formGroup.controls['definition'].valid && formGroup.controls['definition'].touched">
            Required field.
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-mini-fab color="primary" (click)="addFlashcard()" type="button" style="margin-right:10px"><mat-icon>add</mat-icon></button>
      <button mat-mini-fab color="warn" (click)="removeRow()" type="button" style="margin-right:10px "><mat-icon>clear</mat-icon></button>
    <br />
    <div class="formSideBySide">
    <div class="form-element">
      <button mat-raised-button [disabled]="!formGroup.valid" color="primary" type="submit" class="button">Save</button>
    </div>
    </div>
  </form>
</div>
